body {
  background-color: #f8f9fa;
}

@media (max-width: 992px) {
    hr {
        display: none;
    }
}

@media (min-width: 992px) {
  .regalos-scroll {
    max-height: 70vh;
    overflow-y: auto;
  }
}

@media (min-width: 992px) {
  .listado-contenido {
    max-width: 85%;
    margin: 0 auto;
  }
}

